/*
  Custom styles: Cpp::Engineer
*/

html {
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
  
body {
  margin-bottom: 70px; /* Margin bottom by footer height */
}

/* Footer css */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; /* Set the fixed height of the footer here */
  line-height: 70px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Some custom card effects */
div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Remove link color from a font-awesome link inside an <a> tag */
.image-link {
  color: inherit;
}

