<footer class="footer">
        <div class="container h-100">
                <div class="row justify-content-center h-100">
                        <div class="row justify-content-center h-50">
                                <div class="col-xs-auto mr-2 h-100 pt-2">
                                        <small><i class="fa fa-copyright"></i> 2020 - <% var d=new Date(); var
                                                        year=d.getFullYear(); %>
                                                        <%= year %> · <strong>Cpp::Engineer</strong> </small>
                                </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="row justify-content-center h-50">
                                <div class="col-xs-auto mr-2 h-100">
                                        <a href="https://github.com/cppengineer" class="image-link"><i
                                                        class="fa fa-github"></i></a>
                                </div>
                                <div class="col-xs-auto mr-2 h-100">
                                        <a href="https://gist.github.com/cppengineer" class="image-link text-muted">
                                                <svg height="20"
                                                        class="octicon octicon-code-square mt-0 position-static v-align-middle"
                                                        viewBox="0 0 24 24" version="1.1" width="20" aria-hidden="true">
                                                        <path
                                                                d="M10.3 8.24a.75.75 0 01-.04 1.06L7.352 12l2.908 2.7a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 011.06.04zm3.44 1.06a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.908-2.7-2.908-2.7z">
                                                        </path>
                                                        <path fill-rule="evenodd"
                                                                d="M2 3.75C2 2.784 2.784 2 3.75 2h16.5c.966 0 1.75.784 1.75 1.75v16.5A1.75 1.75 0 0120.25 22H3.75A1.75 1.75 0 012 20.25V3.75zm1.75-.25a.25.25 0 00-.25.25v16.5c0 .138.112.25.25.25h16.5a.25.25 0 00.25-.25V3.75a.25.25 0 00-.25-.25H3.75z">
                                                        </path>
                                                </svg>
                                        </a>
                                </div>
                                <div class="col-xs-auto mr-2 h-100">
                                        <a href="https://stackoverflow.com/users/14258355/jan-gabriel?tab=profile"
                                                class="image-link"><i class="fa fa-stack-overflow"></i></a>
                                </div>
                                <div class="col-xs-auto h-100">
                                        <a href="https://twitter.com/CppEngineer" class="image-link"><i
                                                        class="fa fa-twitter"></i></a>
                                </div>
                        </div>
                </div>
        </div>
</footer>