<footer class="footer">
        <div class="container">
                <div class="row justify-content-center">
                        <div class="col-xs-auto text-muted mr-2">
                                <small><i class="fa fa-copyright"></i> 2020 · Cpp::Engineer </small>
                        </div>
                        <div class="col-xs-auto mr-2">
                                <a href="https://github.com/cppengineer" class="image-link"><i class="fa fa-github"></i></a>
                                
                        </div>
                        <div class="col-xs-auto">
                                <a href="https://stackoverflow.com/users/14258355/jan-gabriel?tab=profile" class="image-link"><i class="fa fa-stack-overflow"></i></a>
                        </div>
                </div>
        </div>
</footer>