<footer class="footer">
        <div class="container">
                <div class="row justify-content-md-center">
                        <div class="col-md-auto text-muted">
                                Cpp::Engineer · 2020
                        </div>
                        <div class="col-md-auto">
                                <a href="https://github.com/cppengineer"><i class="fa fa-github"></i></a>
                        </div>
                </div>
        </div>
</footer>