<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/1.0/img/icon-full-res.png" alt="Cpp::Engineer" height="30" class="d-inline-block align-top">
            Cpp::Engineer
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-end ml-auto">
                <li class="nav-item mr-2">
                    <a class="nav-link" href="/blog">
                        <i class="fas fa-th-list mr-2"></i>Blog Archive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <i class="fas fa-question mr-2"></i>About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>