<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Software in Practice | About</title>
</head>
<%- include('./../partials/_header') %>
<body>
    <div class="container">
        <div class="text-body">
            <p>
                Hi there,
            </p>
            <p>
                My name is <strong>Jan Gabriel</strong> and I'm a software engineer.
            </p>
            <p>
                I first discovered programming back in 2010. I was hooked on it when I finally realised
                the power of variables and functions and making a colored circle shape blink... yeah! 
            </p>
            <p>
                Between now and then I went to university and I also joined the working class as a software engineer. 
                During my studies and also professional career I've learned so much from others and always found that sharing
                knowledge benefits us all. On top of that, I also learn and remember better when I write things down. 
                Thus, this site was born in 2020 (whoa... a decade later). 
            </p>
            <p>
                My goal is to write about useful things that I've learned from applying software in practice for myself
                and for others to benefit from. Enjoy!
            </p>
            <p>
                Okay right... so what software? Well, I program mostly in C and in Modern C++. 
                But hey, maybe I'll throw in some other concepts I've picked up along the way.
            </p>
        </div>
</body>
<%- include('./../partials/_footer') %>
</html>