<div class="container mt-4 mb-4">
    <%- include ("./partials/_alert_messages") %>
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <h4>About</h4>
            <p>
                This blog started in 2020 because I was curious about web development. In this case, my curiousity
                enabled me to build this site.
            </p>
            <p>
                I chose the name, <code>Cpp::Engineer</code>, because it aligns with my background, I'm a software
                engineer that writes software in C++. Thus, I'm basically an Engineer in the C++ <code>namespace</code>
                <i class="far fa-grin-beam-sweat"></i>.
            </p>
            <p>
                I also like to explore other programming languages and this blog is where I take notes for myself. I've
                learned so much from others online and hopefully I can give something back here.
            </p>
            <h5>Code and Content</h5>
            <p>
                The contents of this website reflect my personal opinions only. The posts and software I write for this
                blog is done in my free time.
            </p>
            <p>
                My open source projects is hosted on <a href="https://github.com/cppengineer">Github</a> and you'll find
                their licensing options there. If I include code in any post it will likely be in the
                <a href="https://unlicense.org/">public domain</a>, unless stated otherwise.
            </p>
            <h5>Contact</h5>
            <p>
                If you'd like to get in touch, ask me a question or you have some comments on a post, you can reach me
                through the <a href="/contact">contact</a> page.
            </p>
        </div>
    </div>
</div>