<div class="container mt-4 mb-4">
    <%- include ("./partials/_alert_messages") %>
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <h4>About</h4>
            <p>
                Hello and welcome to my blog! This site is where I explore my curiosity when it comes to software.
            </p>
            <p>
                I chose the name, <code>Cpp::Engineer</code>, because it aligns with my background, I'm a software
                engineer, and I like to code in C++. Thus, I'm an Engineer in the C++ <code>namespace</code>
                <i class="far fa-grin-beam-sweat"></i>.
            </p>
            <p>
                I also like to explore other programming languages, and this blog is where I then take notes for myself. I've
                learned so much from others online, and hopefully, I can give something back here.
            </p>
            <h5>Code and Content</h5>
            <p>
                The contents of this website reflect my personal opinions only. I also write the posts and software for this
                blog in my free time.
            </p>
            <p>
                My open-source projects are hosted on <a href="https://github.com/cppengineer">Github</a>. If I include
                code in any post, it will likely be in the <a href="https://unlicense.org/">public domain</a>, unless
                stated otherwise.
            </p>
            <h5>Contact</h5>
            <p>
                If you'd like to get in touch, ask me a question or you have some comments on a post, you can reach me
                through the <a href="/contact">contact</a> page.
            </p>
        </div>
    </div>
</div>