<div class="container">
    <%- include('./partials/_header_nav.ejs') %>
    <%- include ("./partials/_alert_messages") %>
    <div class="row">
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit felis nulla. Duis ornare
                consectetur tortor. Aliquam in mi et risus porttitor feugiat. Curabitur eu nisl sodales enim fringilla
                gravida. Aliquam venenatis ultrices tincidunt. Suspendisse in sem vel nibh faucibus bibendum. Nulla
                bibendum ligula lacus, at imperdiet elit sollicitudin id. Donec auctor pretium urna, eu tristique quam
                ultrices quis. Nam vitae iaculis ante, at vehicula purus. Fusce dictum, nisi at sollicitudin auctor,
                massa leo vestibulum tortor, ac egestas ligula metus id ligula. Maecenas id vehicula ante. Etiam
                facilisis lorem non orci consectetur semper. Nulla venenatis porta bibendum. Etiam consequat, dolor eu
                ornare cursus, dolor orci fringilla est, vitae volutpat libero dui in nulla. Etiam in odio sagittis,
                malesuada nisl quis, dignissim libero. Aenean fringilla varius dui.
            </p>
            <p>
                Fusce dolor urna, tristique ut ex eget, facilisis dapibus dolor. Vestibulum lorem massa, faucibus
                bibendum tellus sed, mollis vulputate massa. Fusce quis neque vel purus pulvinar iaculis ut in urna.
                Donec in rutrum lorem, in tincidunt metus. Nullam rutrum suscipit urna in lacinia. Donec massa augue,
                lacinia vel diam tempor, dapibus volutpat est. Suspendisse viverra nunc id risus hendrerit interdum.
                Vestibulum sit amet ultricies tortor. Vivamus quis fringilla lorem. Integer faucibus, justo a consequat
                tempor, lorem ligula ullamcorper lectus, eu suscipit velit felis scelerisque orci. Sed venenatis
                faucibus sem vel dictum. Phasellus a ligula id augue venenatis porttitor vitae sed massa. Nam elementum
                justo vel augue molestie, ut pulvinar arcu placerat. Sed vel quam tincidunt, pharetra nibh a, lobortis
                quam. Nulla pretium, nunc vel semper porttitor, velit turpis semper ligula, non dictum sapien velit in
                tellus. Proin vitae consectetur dui.
            </p>
            <p>
                Vestibulum consequat enim a viverra volutpat. Maecenas condimentum turpis vel justo egestas tincidunt.
                Donec commodo libero ut vehicula ultricies. Mauris sed risus feugiat, rutrum lectus eu, placerat purus.
                Etiam luctus convallis urna at scelerisque. Proin at ornare augue, eget pellentesque erat. In hac
                habitasse platea dictumst.
            </p>
            <p>
                Nullam blandit ex a tempus feugiat. Nam non elementum leo. Aliquam id massa aliquet, lobortis arcu
                vitae, tempor nisi. Aliquam interdum mattis tempus. Donec ligula augue, varius eu pellentesque id, porta
                ac leo. Aenean eget convallis nisl, eu eleifend est. Nunc nec augue ligula. Morbi posuere malesuada urna
                at tincidunt. Sed porttitor hendrerit diam, et blandit risus luctus id.
            </p>
            <p>
                Aenean condimentum mi orci, non venenatis enim consequat a. Donec vel fermentum dolor. Mauris non neque
                mollis, tempus leo vel, viverra metus. In egestas fringilla gravida. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas. Nam varius, urna vel venenatis mattis,
                metus metus vulputate lorem, id faucibus elit odio consequat tortor. Ut semper dolor urna. Suspendisse
                potenti. Vivamus eu auctor ipsum. Sed dapibus luctus diam, a maximus enim suscipit id. In sit amet
                vulputate mi.
            </p>
        </div>
    </div>
</div>