<div class="container mt-4 mb-4">
    <%- include ("./partials/_alert_messages") %>
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <h4><i class="far fa-envelope mr-2"></i>Contact</h4>
            <hr class="mt-4">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-10 mb-4">
            <form action="/contact" method="POST">
                <div class="form-group">
                    <label for="name">Name*</label>
                    <input type="name" id="name" name="name" class="form-control" placeholder="Enter your name" maxlength="100"
                        value="<%= typeof name != 'undefined' ? name : '' %>" required />
                </div>
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" maxlength="100"
                        value="<%= typeof email != 'undefined' ? email : '' %>" required />
                </div>
                <div class="form-group">
                    <label for="body">Post Content*</label>
                    <textarea class="form-control" name="body" id="body" rows="10" placeholder="Describe your reason for getting in touch. Max 3500 characters ~ 500 words." maxlength="3500"
                        required></textarea>
                </div>
                <div class="text-muted"><p>* Required fields</p></div>
                <div class="g-recaptcha" data-sitekey="6Lcm-18aAAAAAOgIU_KzFqEhcXfblJXxfY4l7EVA"></div>
                <button type="submit" class="btn btn-primary float-right">
                    Send your message
                </button>
            </form>
        </div>
    </div>
</div>