<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/posts/add" class="btn btn-primary">Add Post</a>
<a href="/posts" class="btn btn-secondary">View Posts</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>