<div class="container">
  <%- include ("./partials/_alert_messages") %>
  <div class="row justify-content-center">
    <div class="col text-center">
      <img src="/1.0/img/profile-main.png" alt="" width="50%"></img>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit felis nulla. Duis ornare consectetur
        tortor. Aliquam in mi et risus porttitor feugiat. Curabitur eu nisl sodales enim fringilla gravida. Aliquam
        venenatis ultrices tincidunt. Suspendisse in sem vel nibh faucibus bibendum. Nulla bibendum ligula lacus, at
        imperdiet elit sollicitudin id. Donec auctor pretium urna, eu tristique quam ultrices quis. Nam vitae iaculis
        ante, at vehicula purus. Fusce dictum, nisi at sollicitudin auctor, massa leo vestibulum tortor, ac egestas
        ligula metus id ligula. Maecenas id vehicula ante. Etiam facilisis lorem non orci consectetur semper. Nulla
        venenatis porta bibendum. Etiam consequat, dolor eu ornare cursus, dolor orci fringilla est, vitae volutpat
        libero dui in nulla. Etiam in odio sagittis, malesuada nisl quis, dignissim libero. Aenean fringilla varius dui.
      </p>
      <p>
        Fusce dolor urna, tristique ut ex eget, facilisis dapibus dolor. Vestibulum lorem massa, faucibus bibendum
        tellus sed, mollis vulputate massa. Fusce quis neque vel purus pulvinar iaculis ut in urna. Donec in rutrum
        lorem, in tincidunt metus. Nullam rutrum suscipit urna in lacinia. Donec massa augue, lacinia vel diam tempor,
        dapibus volutpat est. Suspendisse viverra nunc id risus hendrerit interdum. Vestibulum sit amet ultricies
        tortor. Vivamus quis fringilla lorem. Integer faucibus, justo a consequat tempor, lorem ligula ullamcorper
        lectus, eu suscipit velit felis scelerisque orci. Sed venenatis faucibus sem vel dictum. Phasellus a ligula id
        augue venenatis porttitor vitae sed massa. Nam elementum justo vel augue molestie, ut pulvinar arcu placerat.
        Sed vel quam tincidunt, pharetra nibh a, lobortis quam. Nulla pretium, nunc vel semper porttitor, velit turpis
        semper ligula, non dictum sapien velit in tellus. Proin vitae consectetur dui.
      </p>
    </div>
  </div>
</div>