<div class="container">
  <%- include ("./partials/_alert_messages") %>
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <img src="/1.0/img/profile-main.png" alt="" width="100%"></img>
        <img src="/1.0/img/welcome_message.gif" alt="" class=" mt-2 mb-2 rounded" width="100%"></img>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-md-10">
        <h4>C(++)rious about software?</h4>
        <p>
          Me too! I write <em>code</em>, and I like to write about <em>code</em>. Here you'll find content on various
          software languages,
          tools and stuff that I enjoy using as a <em>software engineer</em>. Enjoy!
        </p>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-md-10">

        <h4>Projects and Code Snippets</h4>
        <p>
          You can find my open source projects on <a href="https://github.com/cppengineer">Github</a> and code snippets used in the blog posts on <a href="https://gist.github.com/cppengineer">GithubGist</a>
        </p>

        <div class="row mb-2 mt-4 justify-content-md-center github-image-row">

          <div class="col-sm-6 mb-4 h-50">
            <a href="https://github.com/cppengineer">
            <img src="/1.0/img/github.jpg" class="rounded mx-auto d-block img-responsive github-image" alt="...">
            </a>
          </div>
          <!-- <div class="text-center">
            <p>Open Source Projects</p>
          </div> -->

          <div class="col-sm-6 mb-4 h-50">
            <a href="https://gist.github.com/cppengineer">
            <img src="/1.0/img/github-gist.png" class="rounded mx-auto d-block img-responsive github-image pt-2 pt-sm-3 pt-md-3 pt-lg-4" alt="...">
          </a>
          </div>
          <!-- <div class="text-center">
            <p>Code<br>Snippets</p>
          </div> -->

        </div>
      </div>


    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <hr class="my-4">
        <h4>Latest posts</h4>
      </div>
    </div>
    <%- include ("./partials/_blog_card_group") %>
      <div class="row justify-content-center">
        <div class="col-sm-auto text-center mb-4">
          <a href="/blog" class="btn btn-secondary">See more posts</a>
        </div>
      </div>
</div>