<div class="container">
  <%- include ("./partials/_alert_messages") %>
  <div class="row justify-content-center">
    <div class="col-md-10 text-center">
      <img src="/1.0/img/profile-main.png" alt="" width="100%"></img>
      <img src="/1.0/img/welcome_message.gif" alt="" class=" mt-2 mb-2 rounded" width="100%"></img>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-10">
      <h4>C(++)rious about software?</h4>
      <p>
        Me too! I write <em>code</em>, and I like to write about <em>code</em>. Here you'll find content on various software languages,
        tools and stuff that I enjoy using as a <em>software engineer</em>. Enjoy!
      </p>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <hr class="my-4">
      <h4>Latest posts</h4>
    </div>
  </div>
  <%- include ("./partials/_blog_card_group") %>
  <div class="row justify-content-center">
    <div class="col-sm-auto text-center mb-4">
      <a href="/blog" class="btn btn-secondary">See more posts</a>
    </div>
  </div>
</div>