<div class="container">
    <div class="main-text">
        <img src="/img/cpp.png" alt="" width="150px">
    <h1>CppEngineer</h1>
</div>
<div class="subtitle">
    <p class="lead">Coming Soon</p>
    <i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;&nbsp;2020
    </div>
</div>