<%- include('./../partials/_user_header_nav.ejs') %>
<div class="container">
    
    <h3>Add Post</h3>
    <div class="row">
        <form action="/posts" method="POST" class="col s12">
            <div class="row">
                <div class="input-field">
                    <input type="text" id="title" name="title">
                    <label for="title">Title</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <select name="status" id="status">
                        <option value="public" selected>Public</option>
                        <option value="private">Private</option>
                    </select>
                    <label for="status">Status</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <h5>Post body:</h5>
                    <textarea name="body" id="body" cols="30" rows="10"></textarea>
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Save" class="btn">
                <a href="/dashboard" class="btn orange">Cancel</a>
            </div>
        </form>
    </div>
</div>